

        [bold]INCOME TAX CALCULATION[/bold]

- Total yield: {{ yield_total }}€
- Tax already paid: {{ tax_paid }}€
- Deducted amount: {{ to_deduct }}€
--------------------------------------------------
[bold green]INCOME TAX: {{ income_tax }}€[/bold green]

